* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}

.main {
  height: 360px;
  overflow: scroll;
  background-color: #f2f2f2;
  border-radius: 180px;
  position: relative;
}

header {
  padding-top: 12px;
  position: fixed;
  width: 100%;
  z-index:1;
  display: flex;
  justify-content: center;
}

.circle-btn {
	width: 76px;
	height:76px;
	background-color: #009ADF;
	border-radius: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:-14px;
	margin-bottom: 1rem;
}

.circle-btn img {
	width: 23px;
}

.fade {
  position:fixed;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(rgba(204, 204, 204, 1), rgba(204, 204, 204, 0),rgba(204, 204, 204, 0), rgba(204, 204, 204, 1));
  left: 0;
  right: 0;
  pointer-events: none;
}

.content {
  margin: 96px 0;
}

.content h1 {
  text-align: center;
  font-size: 1.5em;
  color: #777;
}

.content ul {
  margin:0;
  padding:0;
  list-style: none;
  width: 100%;
}

.content li {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.content a {
  padding: 16px;
  background: #fff;
  border-radius: 2em;
  text-align: center;
  color: #333;
  font-size: 1.75em;
  text-decoration: none;
  margin: 0 1em;
  width: 100%;
}


/* result page */

.result-header {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: #34383C;
  height: 50px;
}

.result-header .patient-details {
  font-size: 1rem;
  color: #717376;
  margin-top: 0.5rem;
}

.result-content {
  background-color: #ffffff;
  margin-top: 1rem;
  text-align: center;
  height: 310px;
}

.result-content .name {
  padding-top: 3rem;
  font-size: 2rem;
}

.result-content .range, .lab-date {
  color: #717376;
  padding-top: 0.5rem;
}

.result-content .level {
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 2.75rem;
  color: #3CAD2B;
}

.result-content .level.bad {
  color: #E33D2E;
}

.level-wrapper {
	display:flex;
	align-items: center;
}

.level-wrapper img {
	margin-right: 0.5em;
	width: 24px;
}


